    body {
        font-size: 16px;
        background-color: #F8F8F8;
    }

    .header {
        text-align: left;
        background-color: #fff;
    }

    h1 {
        font-family: 'jsMath-cmti10', sans-serif;
        font-size: 30px;
        color: #F5C800;
        letter-spacing: 0.2px;
        padding: 10px;
        margin: 0;
    }

    .header-nav {
        position: absolute;
        left: 90%;
        top: 33%;
        padding: 5px;
        background-color: #f4f4f4;
        border: 1px solid #D9C6B5;
    }

    .header-nav a {
        text-decoration: none;
        color: #D9C6B5;
    }

    .content {
        display: flex;
        justify-content: center;
    }